<h1> Helloo World</h1>

{%for i in val%}
     {{ forloop.counter }}.<b>Student Name:</b> {{ i.sn }}  <b>Project Name:</b> {{ i.pn }}<b>  Description:</b> {{ i.desc }}<br><br>
{% endfor %}
<br>
<br>
<br>

<h1>Student Details</h1>
<br>
<br>
{% for x in val1 %}
	{{ forloop.counter }}.<b>Name: </b> {{ x.name.sn }}  <b>Age: </b> {{ x.Age }}<br><br>
{% endfor %}
<br>
<br>
<a href=admin>Click Here Admin</a>